/* body{
    background: #6890c9;
} */

#logo{
    height: 35px;
    margin-top: -10px;
}

#header{
    margin-top: 15px;
}

.no-padding{
    padding-left: 0px; 
}

.loader {
    display: block;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 15px;
}