<div class="col-md-12">

        {{identity | json}}
    <div  *ngIf="!identity || identity == null">
        Inicia sesión para acceder a mas opciones....
    </div>

    <div *ngIf="identity && identity.id">
            <!-- MOSTRAR BUSCADOR -->

        <div class="all-tasks">

            <table class="table table-hover table-stripped" id="tasks-list" *ngIf="tasks && tasks.length >=1">
                <tr>
                    <th>Estado</th>
                    <th>Titulo</th>
                    <th>Accion</th>
                </tr>
                <tr *ngFor="let task of tasks" class="task-item">
                    <td>
                        {{task.status}}
                    </td>
                    <td>
                        {{task.title}}
                    </td>
                    <td>
                    <a href="#" class="btn btn-warning">Editar</a>
                    </td>
                </tr>
            </table>

            <ul class="pagination" *ngIf="tasks && tasks.length >= 1">
                <li>
                    <a [routerLink]="['/index', pagePrev]" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/index', pagePrev]" aria-label="Previous">
                        <span aria-hidden="true">{{page}}</span>
                    </a>
                </li>
                 <li>
                    <a [routerLink]="['/index', pageNext]" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</div>

